.rdw-editor-wrapper {
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 8px;
  }
  
  .rdw-editor-main {
    background-color: white;
    color: black;
    min-height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .rdw-dropdown-carettoclose,
.rdw-dropdown-optionwrapper,
.rdw-dropdownoption-default {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ccc;
}

.rdw-dropdownoption-highlighted {
  background-color: #f0f0f0 !important;
  color: black !important;
}

.rdw-dropdown-selectedtext {
  color: black !important;
}